{% extends "base.html.twig" %}


{% block stylesheets %}
	<link rel="stylesheet" href="/styles/home.css"/>
{% endblock %}

{% block body %}
	<div class="body-card">
		<h1>Home</h1>
		<p>Bienvenido a TodoListo.</p>
		<p>Organice, priorice y mejore sus operaciones de trabajo a nivel individual y de equipo.</p>
	</div>
{% endblock %}
